hsostaric_zadaca_2/hsostaric_zadaca_2_2/src/wsdl/localhost_8084/hsostaric_zadaca_2_1/Zadaca2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.web.hsostaric.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.web.hsostaric.nwtis.foi.org/" name="Zadaca2">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.web.hsostaric.nwtis.foi.org/" schemaLocation="http://localhost:8084/hsostaric_zadaca_2_1/Zadaca2?xsd=1"/>
</xsd:schema>
</types>
<message name="provjeriAerodromUMojojKolekciji">
<part name="parameters" element="tns:provjeriAerodromUMojojKolekciji"/>
</message>
<message name="provjeriAerodromUMojojKolekcijiResponse">
<part name="parameters" element="tns:provjeriAerodromUMojojKolekcijiResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<message name="provjeraKorisnika">
<part name="parameters" element="tns:provjeraKorisnika"/>
</message>
<message name="provjeraKorisnikaResponse">
<part name="parameters" element="tns:provjeraKorisnikaResponse"/>
</message>
<message name="vratiKorisnikeSaAerodromima">
<part name="parameters" element="tns:vratiKorisnikeSaAerodromima"/>
</message>
<message name="vratiKorisnikeSaAerodromimaResponse">
<part name="parameters" element="tns:vratiKorisnikeSaAerodromimaResponse"/>
</message>
<message name="vratiKorisnikeIzBazePodataka">
<part name="parameters" element="tns:vratiKorisnikeIzBazePodataka"/>
</message>
<message name="vratiKorisnikeIzBazePodatakaResponse">
<part name="parameters" element="tns:vratiKorisnikeIzBazePodatakaResponse"/>
</message>
<message name="poletjeliAvioniAerodrom">
<part name="parameters" element="tns:poletjeliAvioniAerodrom"/>
</message>
<message name="poletjeliAvioniAerodromResponse">
<part name="parameters" element="tns:poletjeliAvioniAerodromResponse"/>
</message>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dajAerodromizKolekcijeVlastitih">
<part name="parameters" element="tns:dajAerodromizKolekcijeVlastitih"/>
</message>
<message name="dajAerodromizKolekcijeVlastitihResponse">
<part name="parameters" element="tns:dajAerodromizKolekcijeVlastitihResponse"/>
</message>
<message name="vratiAerodromePremaDrzavi">
<part name="parameters" element="tns:vratiAerodromePremaDrzavi"/>
</message>
<message name="vratiAerodromePremaDrzaviResponse">
<part name="parameters" element="tns:vratiAerodromePremaDrzaviResponse"/>
</message>
<message name="dodajAerodromUVlastiteAerodrome">
<part name="parameters" element="tns:dodajAerodromUVlastiteAerodrome"/>
</message>
<message name="dodajAerodromUVlastiteAerodromeResponse">
<part name="parameters" element="tns:dodajAerodromUVlastiteAerodromeResponse"/>
</message>
<portType name="Zadaca2">
<operation name="provjeriAerodromUMojojKolekciji">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/provjeriAerodromUMojojKolekcijiRequest" message="tns:provjeriAerodromUMojojKolekciji"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/provjeriAerodromUMojojKolekcijiResponse" message="tns:provjeriAerodromUMojojKolekcijiResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
<operation name="provjeraKorisnika">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/provjeraKorisnikaRequest" message="tns:provjeraKorisnika"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/provjeraKorisnikaResponse" message="tns:provjeraKorisnikaResponse"/>
</operation>
<operation name="vratiKorisnikeSaAerodromima">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/vratiKorisnikeSaAerodromimaRequest" message="tns:vratiKorisnikeSaAerodromima"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/vratiKorisnikeSaAerodromimaResponse" message="tns:vratiKorisnikeSaAerodromimaResponse"/>
</operation>
<operation name="vratiKorisnikeIzBazePodataka">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/vratiKorisnikeIzBazePodatakaRequest" message="tns:vratiKorisnikeIzBazePodataka"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/vratiKorisnikeIzBazePodatakaResponse" message="tns:vratiKorisnikeIzBazePodatakaResponse"/>
</operation>
<operation name="poletjeliAvioniAerodrom">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/poletjeliAvioniAerodromRequest" message="tns:poletjeliAvioniAerodrom"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/poletjeliAvioniAerodromResponse" message="tns:poletjeliAvioniAerodromResponse"/>
</operation>
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dajAerodromizKolekcijeVlastitih">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dajAerodromizKolekcijeVlastitihRequest" message="tns:dajAerodromizKolekcijeVlastitih"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dajAerodromizKolekcijeVlastitihResponse" message="tns:dajAerodromizKolekcijeVlastitihResponse"/>
</operation>
<operation name="vratiAerodromePremaDrzavi">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/vratiAerodromePremaDrzaviRequest" message="tns:vratiAerodromePremaDrzavi"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/vratiAerodromePremaDrzaviResponse" message="tns:vratiAerodromePremaDrzaviResponse"/>
</operation>
<operation name="dodajAerodromUVlastiteAerodrome">
<input wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dodajAerodromUVlastiteAerodromeRequest" message="tns:dodajAerodromUVlastiteAerodrome"/>
<output wsam:Action="http://serveri.web.hsostaric.nwtis.foi.org/Zadaca2/dodajAerodromUVlastiteAerodromeResponse" message="tns:dodajAerodromUVlastiteAerodromeResponse"/>
</operation>
</portType>
<binding name="Zadaca2PortBinding" type="tns:Zadaca2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="provjeriAerodromUMojojKolekciji">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeraKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vratiKorisnikeSaAerodromima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vratiKorisnikeIzBazePodataka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poletjeliAvioniAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromizKolekcijeVlastitih">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vratiAerodromePremaDrzavi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajAerodromUVlastiteAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Zadaca2">
<port name="Zadaca2Port" binding="tns:Zadaca2PortBinding">
<soap:address location="http://localhost:8084/hsostaric_zadaca_2_1/Zadaca2"/>
</port>
</service>
</definitions>