hsostaric_zadaca_2/hsostaric_zadaca_2_3/src/wsdl/localhost_8084/hsostaric_zadaca_2_1/Zadaca2.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://serveri.web.hsostaric.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.web.hsostaric.nwtis.foi.org/">

<xs:element name="dajAerodromeKorisnika" type="tns:dajAerodromeKorisnika"/>

<xs:element name="dajAerodromeKorisnikaResponse" type="tns:dajAerodromeKorisnikaResponse"/>

<xs:element name="dajAerodromeNaziv" type="tns:dajAerodromeNaziv"/>

<xs:element name="dajAerodromeNazivResponse" type="tns:dajAerodromeNazivResponse"/>

<xs:element name="dajAerodromizKolekcijeVlastitih" type="tns:dajAerodromizKolekcijeVlastitih"/>

<xs:element name="dajAerodromizKolekcijeVlastitihResponse" type="tns:dajAerodromizKolekcijeVlastitihResponse"/>

<xs:element name="dodajAerodromUVlastiteAerodrome" type="tns:dodajAerodromUVlastiteAerodrome"/>

<xs:element name="dodajAerodromUVlastiteAerodromeResponse" type="tns:dodajAerodromUVlastiteAerodromeResponse"/>

<xs:element name="dodajKorisnika" type="tns:dodajKorisnika"/>

<xs:element name="dodajKorisnikaResponse" type="tns:dodajKorisnikaResponse"/>

<xs:element name="poletjeliAvioniAerodrom" type="tns:poletjeliAvioniAerodrom"/>

<xs:element name="poletjeliAvioniAerodromResponse" type="tns:poletjeliAvioniAerodromResponse"/>

<xs:element name="provjeraKorisnika" type="tns:provjeraKorisnika"/>

<xs:element name="provjeraKorisnikaResponse" type="tns:provjeraKorisnikaResponse"/>

<xs:element name="provjeriAerodromUMojojKolekciji" type="tns:provjeriAerodromUMojojKolekciji"/>

<xs:element name="provjeriAerodromUMojojKolekcijiResponse" type="tns:provjeriAerodromUMojojKolekcijiResponse"/>

<xs:element name="vratiAerodromePremaDrzavi" type="tns:vratiAerodromePremaDrzavi"/>

<xs:element name="vratiAerodromePremaDrzaviResponse" type="tns:vratiAerodromePremaDrzaviResponse"/>

<xs:element name="vratiKorisnikeIzBazePodataka" type="tns:vratiKorisnikeIzBazePodataka"/>

<xs:element name="vratiKorisnikeIzBazePodatakaResponse" type="tns:vratiKorisnikeIzBazePodatakaResponse"/>

<xs:element name="vratiKorisnikeSaAerodromima" type="tns:vratiKorisnikeSaAerodromima"/>

<xs:element name="vratiKorisnikeSaAerodromimaResponse" type="tns:vratiKorisnikeSaAerodromimaResponse"/>

<xs:complexType name="poletjeliAvioniAerodrom">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ICAO" type="xs:string" minOccurs="0"/>
<xs:element name="od" type="xs:long"/>
<xs:element name="do" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="poletjeliAvioniAerodromResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeNaziv">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeNazivResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeKorisnika">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiKorisnikeSaAerodromima">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiKorisnikeSaAerodromimaResponse">
<xs:sequence>
<xs:element name="return" type="tns:korisnik" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="korisnik">
<xs:sequence>
<xs:element name="datumKreiranja" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datumPromjene" type="xs:dateTime" minOccurs="0"/>
<xs:element name="emailAdresa" type="xs:string" minOccurs="0"/>
<xs:element name="ime" type="xs:string" minOccurs="0"/>
<xs:element name="korIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="prezime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiKorisnikeIzBazePodataka">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiKorisnikeIzBazePodatakaResponse">
<xs:sequence>
<xs:element name="return" type="tns:korisnik" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnika">
<xs:sequence>
<xs:element name="noviKorisnik" type="tns:korisnik" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiAerodromePremaDrzavi">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vratiAerodromePremaDrzaviResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeraKorisnika">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeraKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromizKolekcijeVlastitih">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="oznaka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromizKolekcijeVlastitihResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeriAerodromUMojojKolekciji">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ident" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeriAerodromUMojojKolekcijiResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajAerodromUVlastiteAerodrome">
<xs:sequence>
<xs:element name="korisnickoIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="ident" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajAerodromUVlastiteAerodromeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>